@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    font-family: Poppins, 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.nav {
    margin-top: 1rem;
}

ul img {
    width: 170px;
}

ul {
    display: flex;
    justify-content: space-around;
}

.nav ul li {
    display: flex;
    align-items: center;
    gap: 16px;
}

.pesquisa {
    background-color: #F3F3F3;
    border-radius: 16px;
    padding: 4px 20px 4px 20px;
}

.pesquisa-icon {
    width: 20px;
    height: 20px;
}

.btn_post {
    border: none;
    cursor: pointer;
    height: 40px;
    width: 150px;
    border-radius: 100px;
    background: linear-gradient(to right, #FFD84A, #FF6847);
    color: #000;
    transition: background 1s;
}

.btn_post:hover,
.btn_post:focus {

    background: linear-gradient(to right, #FF6847, #FFD84A);

}

input[type="search"] {
    width: 25rem;
    height: 2rem;
    padding: 0.2rem;
    outline: none;
    border-radius: 50px;
    background: transparent;
    outline: none;
    border: none;
}

input[type="search"]::placeholder {
    color: #016494;
}

input[type="search"] {}

.icones {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.icones img {
    object-fit: contain;
    width: 30px;
    height: 30px;
}

main {
    display: flex;
}

.barra-esquerda {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
}

.barra-esquerda .perfil .usuario img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.barra-esquerda h3 {
    font-weight: bold;
    font-size: 17px;
}

.barra-esquerda h4 {
    font-size: 14px;
}

.perfil {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 28px;
}

.usuario {
    text-align: center;
}

.perfil-info {
    display: flex;
    gap: 40px 40px;
}

.perfil-info li {
    display: grid;
    text-align: center;
}

.perfil-info li h2 {
    font-size: 13px;
    font-weight: bold;
}

.pefil-info li p {
    font-size: 10px;
}

.barra-esquerda-navegacao {
    display: grid;
    gap: 30px;
}

.barra-esquerda-navegacao li {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.barra-esquerda-navegacao li img {
    width: 35px;
    height: 35px;
}

.barra-esquerda-navegacao li p {
    font-weight: bold;
    font-size: 20px;
}

.barra-esquerda-navegacao .planos {
    color: #FF5647;
}

.barra-esquerda .sessao {
    display: flex;
    gap: 12px;
    align-items: center;
}

.barra-esquerda .sessao img {
    width: 60px;
    height: 60px;
}

.barra-esquerda .sessao .opcoes {
    display: grid;
    gap: 6px;
}

.barra-esquerda .sessao .opcoes button {
    position: relative;
    padding: 10px 20px;
    color: #4E2252;
    font-weight: bold;
    font-size: 11px;
}

.barra-esquerda .sessao .opcoes button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    border: 7px solid transparent;
    background: linear-gradient(180deg, rgba(255, 86, 71, 1) 0%, rgba(1, 100, 148, 1) 100%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.eventos {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: #F6F6F6;
    border-top-left-radius: 16px;
}

.eventos .conteudo {
    display: grid;
    place-content: center;
    margin-top: 40px;
    gap: 40px;
}

h1 {
    border-radius: 32px;
    font-weight: bold;
    color: #4E2252;
    background: rgb(255, 216, 74);
    background: linear-gradient(180deg, rgba(255, 216, 74, 1) 0%, rgba(255, 86, 71, 1) 100%);
    padding: 4px 300px 4px 300px;
}

.evento h2 {
    font-weight: bold;
    color: #4E2252;
    text-align: center;
}

.criar {
    display: grid;
    place-content: start;
}

.criar button {
    place-self: start;
}

.popup {
    position: relative;
    display: grid;
    place-content: start;
    border-radius: 16px;
    background-color: white;
    gap: 16px;
    height: 225px;
}

.popup img {
    place-self: center;
    width: 125px;
    height: 125px;
}

.popup p {
    background-color: #FF5647;
    padding: 4px 100px 4px 100px;
    color: white;
    font-weight: bold;
    border-radius: 60px;
    text-align: center;
}

.popup h4 {
    text-align: center;
    color: #ABAAAA;
    font-weight: bold;
}

.popup button {
    position: absolute;
    top: -5px;
    right: 0px;
}

.popup button img {
    width: 15px;
    height: 15px;
    background-color: #016494;
    border-radius: 50%;
    padding: 4px;
}